{% extends 'base.html.twig' %} 

{% block title %}Calendar{% endblock title %} 

{% block javascripts %}
  <script src="{{ asset('assets/custom/js/classregistercontent.js') }}"></script>
{% endblock javascripts %} 

{% block stylesheets %} 
  {{parent()}}
  <link rel="stylesheet" href="{{asset('assets/lib/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('assets/custom/css/classregistercontent.css')}}">
  <link rel="stylesheet" href="{{asset('assets/custom/css/mycalendar.css')}}"> 
{% endblock stylesheets %}

{% block body %}

<div class="container top-margin">

  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-9">
              <p class="panel-title">
                <strong>{{month_word}} {{year_word}}</strong>
              </p>
            </div>
            <div class="col col-xs-3 text-right">
                <a href="/calendar/{{month_prev}}" data-toggle="tooltip" title="Previous month" class="btn btn-info" role="button">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="/calendar/{{month_next}}" data-toggle="tooltip" title="Next month" class="btn btn-info" role="button">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>
            <tbody>

              {% for moths in calendar %}

              <tr>

                {% for day in moths %} 
                
                  {% if day is not null and day is not empty %}

                      {% if day is iterable  %}
                                      
                        {% for current in day %}
                          <td class="current-day">
                              {% set zero = '0' %}
                              {% if current|length > 1 %}
                                  {% set zero = '' %}
                              {% endif %}
                              <a class="deco-none" href="/classregister/{{ year }}-{{ month }}-{{ zero ~ current }}">{{current}}</a>
                          </td>
                        {% endfor %}

                      {% else %}
                      
                        {% set zero = '0' %}
                        {% if day|length > 1 %}
                            {% set zero = '' %}
                        {% endif %}
                        <td>
                          <a class="deco-none" href="/classregister/{{ year }}-{{ month }}-{{ zero ~ day }}">{{day}}</a>
                        </td>
                      {% endif %}

                  {% else %}
                    <td></td>
                  {% endif %}

                {% endfor %}

              </tr>

              {% endfor %}

            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
</div>

{% endblock body %}