td {
    font-weight: bold;
}

a.deco-none {
    color: inherit;
    text-decoration:none;
}

.current-day {
    background-color:#31b0d5;
    color: white;
    border-color: #269abc;
    font-weight: bold;
}