{% extends 'base.html.twig' %} 

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('assets/lib/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('assets/custom/css/classregistercontent.css')}}">
{% endblock stylesheets %}

{% block favico %}
  <link rel="icon" type="image/x-icon" href="{{asset('assets/custom/ico/classregister.ico')}}" />
{% endblock favico %}

{% block javascripts %}
  <script src="{{ asset('assets/custom/js/classregistercontent.js') }}"></script> 
{% endblock %} 

{% block body %}

<div class="container top-margin">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-4 text-left">
                <a href="/calendar/{{date_rev}}" data-toggle="tooltip" title="Back" class="btn btn-info" role="button">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="col col-xs-3 text-right text-center">
              <h4>Class register</h4>
            </div>
            <div class="col col-xs-5 text-right">
              <p class="panel-title"><strong>{{day}}, {{date_dmy}}</strong></p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>Last name</th>
                <th>First name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

              {% for row in data %}
                <tr>
                    {% if row.pupil.lastname is defined %}
                      <td>{{row.pupil.lastname}}</td>
                    {% else %}
                      <td>{{row.lastname}}</td>
                    {% endif %}
                  
                    {% if row.pupil.firstname is defined %}
                      <td>{{row.pupil.firstname}}</td>
                    {% else %}
                      <td>{{row.firstname}}</td>
                    {% endif %}
                  
                  <td align="center">

                    {% if row.pupil is defined %}
                      {% set idpupil = row.pupil.idpupil %}
                    {% else %}
                      {% set idpupil = row.idpupil %}
                    {% endif %}

                    {% if row.status.color is defined and row.status.color == "success" %}
                      <a class="btn btn-{{row.status.color}}" 
                    {% else %}
                      <a class="btn btn-default"
                    {% endif %}
                    data-toggle="tooltip" 
                    title="obecny"
                    href="{{ path('set_pupil_classregister_status', {'date' : date_ymd,
                    'page' : curr_page, 
                    'idPupil' : idpupil,
                    'statusColor' : "success"}
                    ) }}" >
                        <em class="fa fa-smile-o"></em>
                      </a>

                    {% if row.status.color is defined and row.status.color == "warning" %}
                      <a class="btn btn-{{row.status.color}}"
                    {% else %}
                      <a class="btn btn-default"
                    {% endif %}
                    data-toggle="tooltip"
                    title="spóźnienie"
                    href="{{ path('set_pupil_classregister_status', {'date' : date_ymd,
                    'page' : curr_page, 
                    'idPupil' : idpupil,
                    'statusColor' : "warning"}
                    ) }}" >
                        <em class="fa fa-clock-o"></em>
                      </a>

                    {% if row.status.color is defined and row.status.color == "danger" %}
                      <a class="btn btn-{{row.status.color}}"
                    {% else %}
                      <a class="btn btn-default"
                    {% endif %}
                    data-toggle="tooltip"
                    title="nieobecny"
                    href="{{ path('set_pupil_classregister_status', {'date' : date_ymd,
                    'page' : curr_page, 
                    'idPupil' : idpupil,
                    'statusColor' : "danger"}
                    ) }}" >
                        <em class="fa fa-frown-o"></em>
                      </a>
                  
                  </td>

                </tr>

              {% endfor %}

            </tbody>
          </table>

        </div>
        <div class="panel-footer">

            {# display navigation #}
            <div class="navigation text-center">
                {{ knp_pagination_render(data) }}
            </div>
          
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}